body {
  font-family: "Acme", sans-serif;
}

.header-store {
  color: #fff;
  overflow: hidden;
}

.title {
  font-size: 40px;
  float: left;
}

.navigation {
  font-size: 21px;
  float: right;
}

.action {
  text-decoration: none;
  margin: 20px 20px;
  color: inherit;
}
